{% load categorys %}
<nav>
        <div class="right-nav nav-part">
            <div class="categories" data-dropdown="">

                {% category_navbar %}
                {% if user.is_authenticated == True %}
           <a href="#" class="categorie" data-dropdown-categorie=""> <i class="uil uil-bars"></i>منو</a>

                    <ul class="sub-menu-categories">
                        <li><a href="{% url 'Account:profile' %}">حساب کاربری</a></li>
                        <li><a href="{% url 'Account:shopping_cart' %}">سبد خرید</a></li>
                        <li><a href="{% url 'Account:logout' %}">خروج از حساب کاربری </a></li>

                    </ul>
            {% endif %}
        </div>
        </div>
        <div class="middle-nav nav-part">
            <ul>
            <li> <a href="#"><i class="uil uil-home"></i>خانه</a> </li>
            <li> <a href="#"><i class="uil uil-user"></i>درباره ما</a> </li>
            <li> <a href="#"><i class="uil uil-phone"></i>ارتباط با ما</a></li>
        </ul>
        </div>
        <div class="left-nav nav-part">
            <button><a href="#">پیگیری سفارش</a></button>
    
    </div>
    </nav>