{% extends 'Custom_admin/base.html' %}

{% block main %}


        <div class="card-block">
            <table class="table table-bordered"  style="font-size: small">
                                    <thead>
                                        <tr>
                                            <th>تصویر</th>
                                            <th>نام</th>
                                            <th>اسلاگ</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for brand in brands %}
                                    	<tr>
                                            <td><img src="{{ brand.image.url }}"></td>

                                            <td>{{ brand.name }}</td>

                                            <td>{{ brand.slug }}</td>
                                            

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

    </div>



{% endblock %}